/* links of google fonts  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    background-color: rgb(243, 239, 239) !important;
}
/* Header  section */
.myContainer{
    margin-left: 150px;
    margin-right: 150px;
}
.title{
    font-family: 'Open Sans', sans-serif;
    /* color: #53d397 !important; */
    background-color: black;
    color:#fff !important;
    padding-bottom: 1.7rem;
    
}
p{
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.about p{
    font-size: 1.1rem;
} 
.ourHotels p{
    font-size: 1.1rem;
}
/* .booknow{
    background-color: green;
    color: #fff !important;
} */
.bg-img{
    background-image: url(/Hotel&Travel/img/header.jpg);
    height: 84vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Search Hotel Form  */
.myContainer input[type=number],input[type=date], input[type=submit]{
    width: 100%;
    padding:10px;
    margin: 5px 0 12px 0;
    border: 1px solid green;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    border-radius: 4px;
}
.room i{
    margin-right: 0.6rem;
    font-size: 1.2rem;
}
.searchHotel{
    position: absolute;
    left: 0;
    margin: 16rem 0px 4rem 2rem;
    background-color: #fff;
    width: 800px;
  
}
.shadows{
    transform: 2;
    box-shadow:10px 10px 10px 1px gray;

}
.pForInput{
    padding: 20px;
}
/* section two ROOMS */
/* section About */
.img-map{
    background: url(/Hotel&Travel/img/map.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about i{
    margin-right: 0.6rem;
    font-size: 1.6rem;
}
/* newsletter */
.newsletter{
    background-color: #000000;
    height: 30vh;
    color: #fff;
}
.newsletter input[type=email]{
    padding:10px;
    margin: 5px 0 22px 0;
    border: 1px solid green;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    border-radius: 4px;
    width: 100%;
}
/* CONTCAT */
.contact i{ 
    margin-right: 0.3rem;
    font-size: 1.2rem;
}

/* footer */
.footer p{
    font-size: 1rem;
}
.footer{
    background-color: #000;
    height: 23vh;
    color: #fff;    
}
.footer i{
    margin-right: 1rem;
    font-size: 1.7rem;
}
.footer i:hover{
    color: rgb(132, 218, 139);
}
.footer a{
    color: #fff !important;
}